:root {
    --background: #271200;
    --logoContainerBackground: #b34a00AA; /* #6b400388;*/
    --logoText: #fccd8c;
    --logoTextShadow: #FF9F50;
    --credits: #FFFFFF;
    --rightDivBG: #fccd8c;
    --formBG: #FFD9A5;
    --formBorder: #FFCB62;
    --formShadow: #FF8000;
    --callToAction: #b34a00;
    --callToActionShadow: #FF9F50;
    --inputBorderColor: #b34a0088;
    --inputBorderColorFocus: #b34a00FF;
    --callToActionText: 'Roboto Slab';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.leftdiv {
    width: calc(max(480px,30%));
    max-width: 600px;
    background-image: url(../img/jens-r-lmDM5clQGqQ-unsplash.webp);
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoContainer{
    background-color: var(--logoContainerBackground);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    margin: auto;
    width: 100%;
}

.logotext {
    font-family: var(--callToActionText);
    text-shadow: 1px 1px 2px var(--logoTextShadow);
    color: var(--logoText);
    display: inline;
    font-size: 2rem;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
    height: 120px;
    vertical-align:middle;
}

.credits, .credits a {
    font-family: 'Courier New', Courier, monospace;
    color: var(--credits);
    font-size: 1rem;
    text-decoration: none;
    height: 64px;
}

.rightdiv{
    background-color: var(--rightDivBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(max(720px,40%));
    height: 100vh;
}

#myform{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    background-color: var(--formBG);
    border-top: solid 1px var(--formBorder);
    border-left: none;
    border-right: none;
    border-bottom: solid 1px var(--formBorder);
    box-shadow: 1px 1px 3px var(--formShadow);
}

.formItem{
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 72px;
    width: 50%;
    color: var(--callToAction);
    font-family: 'Roboto Slab', sans-serif;
}

.formItem.passwords{
    height: 96px;
}

input, input:blank {
    border: 1px solid var(--inputBorderColor);
    box-shadow: none;
    color: var(--callToAction);
    padding: 2px;
}


input:focus {
    border: 1px solid blue;
    /*border: 1px solid var(--inputBorderColorFocus);*/
    box-shadow: 1px 1px 2px var(--background);
    outline: none;
    padding: 2px;
}


.inputIsValid {
    border: 1px solid green;
}

.inputIsInvalid {
    border: 1px solid red;
}

/*
input:invalid {
    border: 1px solid var(--inputBorderColorFocus);
    box-shadow: 1px 1px 2px var(--background);
}
*/


.callToAction{
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: var(--callToAction);
    text-shadow: 1px 1px 2px var(--callToActionShadow) ;
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-top: 6rem; 
    margin-bottom: 2rem;
}

.action{
    margin: 20px auto auto;
}

#btnSubmit{
    margin: auto auto;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    background-color: var(--callToAction);
    color: var(--rightDivBG);
    box-shadow: 2px 2px 4px var(--background);
}